[user]
	email = khenzii.was.taken@gmail.com
	name = Khenziii
	signingkey = AB2FD4A1FDBB707D
[http]
    postBuffer = 2097152000
    # don't close the connecition
    # if speed too low (my internet
    # sucks, **a lot**)
    lowSpeedLimit = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore-global
[commit]
	gpgsign = true
[credential]
    helper = store
[rebase]
    # Display authors on rebase -i
    instructionFormat = (%an <%ae>) %s
[push]
    autoSetupRemote = true

